@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  background: #09090b;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}
